### Домашнее задание к занятию "Классификация: Логистическая регрессия и SVM"

In [ ]:
import pandas as pd

In [ ]:
# В датасете пропущенные значения заменены заками вопроса. При чтении из файла вставим Nan вместо '?'
data = pd.read_csv('adult.csv', na_values='?')
data.head(10)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [ ]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
for col in data.select_dtypes(include='object').columns:
    data[col] = le.fit_transform(data[col].astype('str'))
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,2,226802,1,7,4,6,3,2,1,0,0,40,38,0
1,38,2,89814,11,9,2,4,0,4,1,0,0,50,38,0
2,28,1,336951,7,12,2,10,0,4,1,0,0,40,38,1
3,44,2,160323,15,10,2,6,0,2,1,7688,0,40,38,1
5,34,2,198693,0,6,4,7,1,4,1,0,0,30,38,0

In [ ]:
# Разделим данные на целеую переменную и признаки
X = data.drop('income', axis=1)
Y = data['income']

**Строим модель линейной регрессии**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# разделим выборку на обучающую и тестовую
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=146)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression(max_iter=1000)

In [ ]:
# обучим модель на тренировочных данных 
lr.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [ ]:
print('Train score:', lr.score(x_train, y_train))
print('Test score:', lr.score(x_test, y_test))

Train score: 0.7989444509965797
Test score: 0.7937378383159385

**Строим модель SVM**  
Сразу используем StandartScaler() для нормализации данных

In [ ]:
from sklearn.svm import SVC

In [ ]:
clf = make_pipeline(StandardScaler(), SVC())
clf.fit(x_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()), ('svc', SVC())])

In [ ]:
print('Train score:', clf.score(x_train, y_train))
print('Test score:', clf.score(x_test, y_test))

Train score: 0.8538153084090105
Test score: 0.8428268176189634