# Домашнее задание «Библиотека Pandas»

## Задание 1

In [1]:
import pandas as pd

In [72]:
rating = pd.read_csv('ratings.csv')

In [84]:
# только максимальная оценка в рейтинге
rating_gr = rating[rating['rating'].isin(['5'])]

# количество максимальных оценок у фильма
rating_gr = rating_gr.groupby(['movieId']).count()

# ниибольшее число максимальных оценок 
max_cnt = rating_gr.rating.max()

# фидьмы с наибольшим количеством максимальных оценок
g_movie = rating_gr[rating_gr['rating'].isin([max_cnt])]

In [86]:
data_movies = pd.read_csv('movies.csv')
joined = g_movie.merge(data_movies, on='movieId', how='left')
print('Фильмы с максимальным рейтингом:')
joined['title']

Фильмы с максимальным рейтингом:

0    Shawshank Redemption, The (1994)
Name: title, dtype: object

## Задание 2

In [50]:
data = pd.read_csv('power.csv')

In [51]:
pribaltika = data[data['country'].isin(['Estonia','Lithuania','Latvia'])] 
pribaltika = pribaltika[pribaltika['category'].isin(['4','12','21'])] 

pribaltika = pribaltika[pribaltika.year >= 2005]
pribaltika = pribaltika[pribaltika.year <= 2010]

pribaltika = pribaltika[pribaltika.quantity > 0 ]
rez = pribaltika['quantity'].sum()
print('суммарное потребление равно: ' + str(rez))

суммарное потребление равно: 240580.0

## Задание 3

In [56]:
tables = pd.read_html('https://fortrader.org/quotes', match = 'Золото')

In [64]:

tables[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 781       6.00          0.00        NaN
1  Серебро Цена на серебро на бирже  27.23       0.67          2.51        NaN
2         Палладий Цена на Палладий  2 367      19.00          1.00        NaN
3           Платина Цены на платину  1 287      13.00          1.00        NaN
4           Медь Цена меди на бирже   4.07       0.16          4.14        NaN