# Домашнее задание «Функции и работа с данными»

## Задание 1

In [1]:
import pandas as pd

In [6]:
data_movies = pd.read_csv('movies.csv')

In [7]:
data_ratings = pd.read_csv('ratings.csv')

In [25]:
joined = data_ratings.merge(data_movies, on='movieId', how='left')

In [22]:
def get_class (row):
    if row['rating'] >= 4.5:
        return('высокий рейтинг')
    elif row['rating'] > 2 and row['rating'] < 4.5:
        return('средний рейтинг')
    else:
        return('низкий рейтинг')

In [24]:
joined['class'] = joined.apply(get_class, axis = 1)
joined.head()

,userId,movieId,rating,timestamp,title,genres,class
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,средний рейтинг
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,средний рейтинг
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,высокий рейтинг
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,высокий рейтинг

## Задание 2

не нашел файл в котором бы хранились поисковые запросы
выполнил бонусное задание

In [28]:
data = pd.read_csv('keywords.csv')
data

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [32]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

dict

## Задание 3

In [41]:
import re

In [92]:
joined = data_ratings.merge(data_movies, on='movieId', how='left')

In [93]:
def production_year(row):
    year = re.findall(r'\(\d{4}\)', row['title'])
    if len(year) == 0:
        return(1990)
    else:
        rez = re.findall(r'\d{4}', year[0])
        return(int(rez[0]))

In [94]:
joined['year'] = joined.apply(production_year, axis = 1)

In [123]:
data_year_rating = joined[['rating', 'year']]

In [118]:
data_ = data_year_rating.groupby('year').mean()['rating'].reset_index()

In [124]:
data_.sort_values(by='rating')

    year    rating
3   1915  2.000000
6   1919  2.000000
1   1903  2.500000
19  1932  3.333333
83  1996  3.335329
..   ...       ...
31  1944  4.043478
21  1934  4.088235
8   1921  4.100000
17  1930  4.205882
5   1917  4.500000

[106 rows x 2 columns]